.countdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: var(--fei-font-size-large);
}

.expired-text {
  padding: 2px 8px;
  border-radius: 4px;
  color: var(--fei-color-white);
  background-color: var(--fei-color-light-9);
}

.countdown-content {
  display: flex;
  align-items: center;
  gap: 4px;
}

.countdown-item {
  font-family: monospace;
  padding: 1rem;
  border-radius: 5px;
  color: var(--fei-color-white);
}

.fei-TimeCountDown-primary .countdown-content .fei-CountDown-item .countdown-item{
  background-color: var(--fei-color-primary);
  color: var(--fei-color-primary-light-11);
}

.fei-TimeCountDown-success .countdown-content .fei-CountDown-item .countdown-item{
  background-color: var(--fei-color-success);
  color: var(--fei-color-success-light-11);
}

.fei-TimeCountDown-warning .countdown-content .fei-CountDown-item .countdown-item{
  background-color: var(--fei-color-warning);
  color: var(--fei-color-warning-light-11);
}

.fei-TimeCountDown-danger .countdown-content .fei-CountDown-item .countdown-item{
  background-color: var(--fei-color-danger);
  color: var(--fei-color-danger-light-11);
}

.fei-TimeCountDown-info .countdown-content .fei-CountDown-item .countdown-item{
  background-color: var(--fei-color-info);
  color: var(--fei-color-info-light-11);
}

.countdown-content{
  width: 100%;
  height: 100%;
  padding: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.countdown-item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.fei-CountDown-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.countdown-separator{
  margin-top: 1rem ;
  font-size: 30px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 800;
}
